@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

html,body
  height 100vh
  background-color #FFD2D2
  font-family var(--font-family-sans-serif),"Noto Sans TC"
#app
  height 95%
  margin 1rem auto
  padding 1rem
  background-color #FFD2D2
  color 	#4F4F4F
  font-family: 'Noto Serif TC', serif;

#app #list table
  margin-bottom 5rem

.container
  text-align center

hr
  color white
  border 0.01rem solid
  width 150%
  margin-left: -30%;

a
  color #004B97
  font-size 2rem

a:hover
  color 	#7B7B7B

#err
  color red

.fa-pen:hover
  color black

.fa-trash-alt:hover
  color black

.table thead th
  border-bottom 0.1rem solid white
  border-top 0px

.table td
  border-top 0.1rem solid #FCFCFC
  border-bottom 0.1rem solid #FCFCFC
  
.form-control
  display inline-block
  width 60%
  margin-right 1rem

.input
  text-align center
  margin auto
  display flex
  justify-content center
  align-items center

.table td, .table th
    vertical-align: middle

.btn
  margin 1rem 0.5rem

.menubtn
  width 25vw
  border-radius 0
  margin 0
  
#history table
  margin-bottom 5rem

.tomato>img
  width 80px
  height 80px
.tomato
  margin-top -1.5rem

.earth h2
  color #743A3A
  width 50px
  height 50px
  text-shadow #FFFF93 1px 1px 5px 

.time
  margin-bottom 5rem