@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

html,body
  height 100VH
  overflow auto
  background-color #FFD2D2
  font-family var(--font-family-sans-serif),"Noto Sans TC"
#app
  height 100%
  margin 1rem auto 1rem auto
  // padding 1rem
  background-color #FFD2D2
  color 	#4F4F4F
  font-family: 'Noto Serif TC', serif;

#app #list table
  margin-bottom 5rem

.container
  text-align center

hr
  color white
  border 0.01rem solid
  width 150%
  margin-left: -30%;

a
  color #004B97
  font-size 2rem

a:hover
  color 	#7B7B7B

#err
  color red

.fa-pen:hover
  color black

.fa-trash-alt:hover
  color black

.table thead th
  border-bottom 0.1rem solid white
  border-top 0px

.table td
  border-top 0.1rem solid #FCFCFC
  border-bottom 0.1rem solid #FCFCFC
  
.form-control
  display inline-block
  width 60%
  margin-right 1rem

.input
  text-align center
  margin auto
  display flex
  justify-content center
  align-items center

.table td, .table th
    vertical-align: middle

.btn
  margin 1rem 0.5rem

.menubtn
  width 25vw
  border-radius 0
  margin 0
  
#history table
  margin 0

#nav
  font-family: 'Noto Serif TC', serif;

#history
  margin-bottom 5rem


#settings .nav a
  font-size 1.5rem
  color black

#settings .nav a:hover
  color gray


#settings .nav-tabs {
    border-bottom: 1px solid #ffffff;
}
audio
  width 170px
  height 40px


#settings .nav
  flex-wrap no-wrap

#historys .table td, .table th 
  padding: .5rem

.table tbody+tbody {
  border-top 1px solid white
}

.sayinput
  width 40%